
<link rel="import" href="../../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-behavior.html"/>
<link rel="import" href="../../../bower_components/neon-animation/web-animations.html"/>

<script>
    Polymer({
        is: 'bouncing-animation',

        behaviors: [Polymer.NeonAnimationBehavior],

        configure: function (config) {
            var node = config.node;
            this._effect = new KeyframeEffect(node, [
                {offset: 0.0, 'transform': 'scale(1, 1)'},
                {offset: 0.5, 'transform': 'scale(1.5, 1.5)'},
                {offset: 1.0, 'transform': 'scale(1, 1)'}
            ], this.timingFromConfig(config));
            return this._effect;
        }
    });
</script>