<!-- Componente que sirve para agrupar iconos (concretamente de tipo my-icon) -->
<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="icon-group">
	<link rel="stylesheet" href="../../css/icon-group.css">
	<template>
		<content></content>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'icon-group'
	});
</script>