<link rel="import" href="../../../bower_components/polymer/polymer.html"/>

<dom-module id="my-article">
    <link rel="stylesheet" href="../../css/my-article.css">
    <template>
        <article>
            <content select="h2"></content>
            <content select="h3"></content>
            <content select="div"></content>
        </article>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'my-article'
    });
</script>