<!-- Componente de footer cun texto opcional, se non se pasa, ponse o texto por defecto -->
<link rel="import" href="../../../bower_components/polymer/polymer.html"/>

<dom-module id="my-footer">
	<link rel="stylesheet" href="../../css/my-footer.css">
	<template>
		<footer>{{text}}</footer>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'my-footer',
		properties: {
			text: {
				type: String,
				value: "Copyright © Guía Taxonómica 2015 • MIT License."
			}
		}
	});
</script>