<link rel="import" href="../../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html"/>
<link rel="import" href="./bouncing-animation.html"/>

<dom-module id="my-fab">
    <link rel="stylesheet" href="../../css/my-fab.css">
    <template>
        <span class$="{{_computedIconclass(icon)}}"></span>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'my-fab',
        behaviors: [Polymer.NeonAnimationRunnerBehavior],
        properties: {
            icon: {
                type: String,
                notify: true
            },
            animationConfig: {
                value: function () {
                    return {
                        bouncing: {
                            name: 'bouncing-animation',
                            node: this,
                            timing: {duration:1000,easing:'linear',iterations:+Infinity}
                        }
                    }
                }
            }
        },
        _computedIconclass: function (icon) {
            return 'icon-' + icon;
        }
    });
</script>