<!-- Componente de header que muestra un texto de h1 y que  permite incluir un icono a la izquierda
de tipo my-icon si se le pone la clase left y varios a la derecha -->
<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="my-header">
	<link rel="stylesheet" href="../../css/my-header.css">
	<template>
		<header class="header">
			<content select=".left"></content>
			<h1>{{text}}</h1>
			<content></content>
		</header>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'my-header',
		properties: {
			text: {
				type: String,
				value: "Guía taxonómica"
			}
		}
	});
</script>