<!-- Componente de icono pensado para trabajar con los iconos de icomoon
ya que estos se usan con clases del tipo icon-nombreDelIcono. En este elemento no hace
falta poner icon- sino que se le pasa el nobreDelIcono a traves del atributo icon.
Tambien se le puede pasar una url a la que se quiera que apunte el link.
Por defecto no hay atributo de href (ni siquiera un hash) para que se pueda usar
graficamente sin que influya en el comportamiento -->
<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="my-icon">
	<link rel="stylesheet" href="../../css/my-icon.css">
	<template>
		<a href$="{{url}}" class$="{{iconClass}}"></a>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'my-icon',
		properties: {
			icon: {
				type: String,
				notify: true
			},
			iconClass: {
				type: String,
				computed: 'getClass(icon)'
			},
			url: String
		},
		getClass: function (icon) {
			return "icon-" + icon;
		}
	});
</script>