<!-- Componente grafico de loading. Es un icono que gira -->
<link rel="import" href="../../../bower_components/polymer/polymer.html"/>

<dom-module id="my-loading">
	<link rel="stylesheet" href="../../css/my-loading.css">
	<template>
		<span class="icon-loading icon"></span>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'my-loading'
	});
</script>