<!-- Componente de caja d mensages. Sirve para mostrar mensages "semergentes al usuario" -->
<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="my-mesagebox">
	<link rel="stylesheet" href="../../css/my-mesagebox.css">
	<template>
		<p>{{text}}</p>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'my-mesagebox',
		properties: {
			text: {
				type: String,
				notify: false
			}
		}
	});
</script>