<!-- Componente de navegacion para dispositivos pequeños. Solo se muestra en dispositivos
pequelos para no sobrecargar de cosas el header que desbordarian en pantallas pequeñas -->
<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="my-nav">
	<template>
		<icon-group class="nav">
			<content></content>
		</icon-group>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'my-nav'
	});
</script>