<!-- Componente consistente de una caja de busqueda y un boton para realizar busquedas
a un api -->
<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="my-searchbox">
	<link rel="stylesheet" href="../../css/my-searchbox.css">
	<template>
		<section class="search">
			<input autofocus="{{autofocus}}" class="text-field" id="searchbox" type="text" name="tags" placeholder="{{placeholder}}">
			<input class="btn" id="searchBtn" type="button" value="{{btnValue}}">
		</section>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'my-searchbox',
		properties: {
			placeholder: {
				type: String,
				value: "busqueda"
			},
			btnValue: {
				type: String,
				value: "SEND"
			},
			autofocus: {
				type: Boolean,
				value: false
			},
			models: {
				type: Array,
				value: [],
				notify: true
			},
			page: {
				type: Number,
				value: 0
			},
			text: {
				type: String,
				notify: true
			},
			left: {
				type: Boolean,
				notify: true,
				value: false
			}
		},
		ready: function () {
			var btn = this.$.searchBtn;
			btn.addEventListener('click', function (e) {
				e.preventDefault();
				this.page = 0;
				this.send(this.normalResponse);
			}.bind(this));
			document.addEventListener('keypress', function (e) {
				if(e.keyCode === 13){
					e.preventDefault();
					this.page = 0;
					this.send(this.normalResponse);
				}
			}.bind(this));
		},
		loadMore: function (callback) {
			this.page++;
			this.send(callback);
		},
		send: function (callback) {
			this.text = '';
			this.left = false;
			var value = this.$.searchbox.value;
			if(value !== ''){
				superagent
					.post('/especies/search')
					.send({tags: value, page: this.page})
					.type('application/json')
					.end(callback.bind(this));
			}else{
				this.models = [];
			}
		},
		normalResponse: function (err, res) {
			var data = res.body;
			if(data.success){
				if(data.info){
					this.text = "";
					if(data.data.length === 1){
						window.location = '/especies/ver/' + data.data[0].scientific;
					}else{
						this.models = data.data;
						if(data.left){
							this.text = data.left === 1 ? 
								"1 resultado más" : 
								data.left + " resultados más";
							this.left = true;
						}
					}
				}else{
					this.models = [];
					this.text = "Lo que busca no esta aqui";
				}
			}else{
				this.models = [];
				this.text = "Hemos tenido un problemilla :(";
			}
		}
	});
</script>