extends ./base.jade

block meta
    title Añadir especie - Interpeixe - Guía taxonómica
    meta(name="description", content="Añadir una especie a la guía para que entre todos la vayamos haciendo más y más completa y util.")

block links
    link(rel="stylesheet", href="/css/add.css")
    link(rel="import", href="/components/addEspecie.html")

block content
    my-header(text="Añadir especie")
        my-icon(icon="home", url="/", class="left")
        my-icon(icon="search", url="/especies/buscar")
    especie-form(value="Enviar")
    my-footer

block scripts
    script(src="/js/xhr.js")