doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        block meta
        link(href='//fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
        script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.3/webcomponents.min.js")
        block links
    body
        block content
        block scripts