extends ./base.jade

block meta
    title #{msg} - Interpeixe - Guía taxonómica
    meta(name="description", content="#{msg}")

block links
    link(rel="stylesheet", href="/css/error.css")

block content
    section
        hgroup
            h2 #{err}
            h1 #{msg}