extends ./base.jade

block meta
    title #{especie.scientific} - Interpeixe - Guía taxonómica
    meta(name="description", content="#{especie.description}")

block links
    link(rel="stylesheet", href="/css/especieView.css")
    link(rel="import", href="/components/vistaEspecie.html")

block content
    my-header
        my-icon(icon="home", class="left", url="/")
        my-icon(icon="search", url="/especies/buscar")
        my-icon(icon="plus", url="/especies/nueva")
    my-especie(model="#{especie}")
    ultimas-especies
    my-footer