extends ./base.jade

block meta
    title Interpeixe - Guía Taxonómica
    meta(name="description", content="Interpeixe es una guía de la fauna y la flora del intermareal gallego, hecha entre todos y para todos. Crecemos día a día gracias a las aportaciones de la gente interesada en hacer de este proyecto algo cada vez más util y completo.")

block links
    link(rel="stylesheet", href="/css/home.css")
    link(rel="import", href="/components/home.html")

block content
    my-header(text="Guía Taxonómica")
        my-icon(icon="home", class="left")
        my-icon(icon="search", url="/especies/buscar")
        if user
            my-icon(icon="plus", url="/especies/nueva")
        else
            my-icon(icon="user", url="/usuarios/login")

    my-nav
        my-icon(icon="search", url="/especies/buscar")
        if user
            my-icon(icon="plus", url="/especies/nueva")
        else
            my-icon(icon="user", url="/usuarios/login")
    my-article
        h2 Como Contribuir
        h3 Como ayudar a la plataforma a crecer en favor de todos los usuarios
        div. 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quis 
            similique odit ipsum adipisci, quibusdam iure ipsa doloribus repellat vero 
            quisquam ab aut provident deleniti soluta, atque architecto maiores nesciunt. 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam animi eligendi 
            officiis, totam asperiores ipsa mollitia dicta libero officia itaque inventore vero, 
            quos nobis. Nulla deserunt quidem a ipsum atque? Lorem ipsum dolor sit amet, consectetur 
            adipisicing elit. Id, laborum, laboriosam possimus officiis earum autem reiciendis nihil 
            eos facilis fugiat ea? Magnam aliquam nisi ad, neque assumenda nostrum quae obcaecati! 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, odio et quisquam provident 
            minus sint fugiat officiis, a reiciendis similique consequuntur, laborum doloribus aut. 
            Saepe id impedit, eum possimus dicta.
    ultimas-especies
        
    my-footer

block scripts