extends ./base.jade

block meta
    title Sign in - Interpeixe - Guía Taxonómica
    meta(name="description", content="Unete a nosotros para poder contribuir al proyecto subiendo más informacion para completar la guía :)")

block links
    link(rel="stylesheet", href="/css/base.css")
    link(rel="import", href="/components/newUser.html")
block content
    my-header
        my-icon(class="left", icon="home", url="/")
        my-icon(icon="search", url="/especies/buscar")
        my-icon(icon="plus", url="/especies/nueva")
    register-form

block scripts
    script(src="/js/xhr.js")