extends ./base.jade

block meta
    title Hola
block links
    link(rel="stylesheet", href="/css/base.css")
    link(rel="import", href="/components/notModerated.html")
block content
    my-header
        my-icon(class="left", icon="home", url="/")
        my-icon(icon="search", url="/especies/buscar")
        my-icon(icon="plus", url="/especies/nueva")
    lista-de-moderacion

block scripts
    script(src="/js/xhr.js")