extends ./base.jade

block meta
    title Buscar especie - Interpeixe - Guía taxonómica
    meta(name="description", content="Busca en nuestra base de datos una especie, gracias a nuestro sistema de etiquetas, que te permitirá intentar encontrar una especie a partir de características físicas, diferenciables para el ojo no experto.")

block links
    link(rel="stylesheet", href="/css/search.css")
    link(rel="import", href="/components/searchEspecie.html")

block content
    my-header(text="Guia Taxonomica")
        my-icon(icon="home", url="/", class="left")
        my-icon(icon="plus", url="/especies/nueva")
    especies-search
block scripts
    script(src="/js/xhr.js")