extends ./base.jade

block meta
    title Lista de usuarios de Interpeixe - Guía Taxonómica
    meta(name="description", content="Lista de usuarios de la guia, solo visible para administradores")

block links
    link(rel="stylesheet", href="/css/base.css")
    link(rel="import", href="/components/users.html")
block content
    my-header
        my-icon(class="left", icon="home", url="/")
        my-icon(icon="search", url="/especies/buscar")
        my-icon(icon="plus", url="/especies/nueva")
    lista-usuarios(users="#{users}")