
@import 'fonts.styl'

li
	list-style none
	
a
	text-decoration none
	color white
	&:hover
	&:active
	&:visited
		color white

body
	font-family 'Varela Round', sans-serif
	font-size 16px
	color gris_oscuro

input[type="submit"]
input[type="button"]
input[type="text"]
input[type="password"]
	&:focus
		outline 0px