
.btn
    border none
    border-radius 5px
    background azul
    box-shadow 0 5px azul_oscuro
    color white
    font-weight bold
    padding 1em
    text-align center
    transition .5s
    &:hover
        background-color azul_oscuro
        box-shadow 0 5px azul