@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon.eot?-4uxgmo')
  src: url('../fonts/icomoon.eot?#iefix-4uxgmo') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-4uxgmo') format('truetype'),
		url('../fonts/icomoon.woff?-4uxgmo') format('woff'),
		url('../fonts/icomoon.svg?-4uxgmo#icomoon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"],
[class*=" icon-"]
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-home:before
  content: "\e902"

.icon-user:before
  content: "\e971"

.icon-search:before
  content: "\e986"

.icon-config:before
  content: "\e994"

.icon-plus:before
  content: "\ea0a"

.icon-cross:before
  content: "\ea0f"

.icon-tic:before
  content: "\ea10"

