<!-- Componente de una especie cuando se muestra en una lista de especies -->
<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="especie-en-lista">
	<link rel="stylesheet" href="../../css/especie-en-lista.css">
	<template>
		<article class="Especie" on-click="clickHandler">
			<figure class="Especie-figure">
				<img class="Especie-figure-img" src="{{model.img}}" alt="{{fullName}}" title="{{fullName}}">
			</figure>
			<hgroup class="Especie-headers">
				<h2 class="Especie-headers-scientific">{{model.scientific}}</h2>
				<h3 class="Especie-headers-name">{{model.name}}</h3>
			</hgroup>
			<div class="Especie-tags">
				<template is="dom-repeat" items="{{model.tags}}" as="tag">
					<p class="Especie-tags-tag">#<b>{{tag}}</b></p>
				</template>
			</div>
		</article>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'especie-en-lista',
		properties: {
			model: Object,
			fullName: {
				type: String,
				computed: 'getFullName(model)'
			}
		},
		toDashes: function (name) {
			name = name.split(' ');
			name = name.join('-');
			return name;
		},
		getFullName: function (model) {
			if(name){
				return model.scientific + ' (' + model.name + ')';
			}else{
				return model.scientific;
			}
		},
		clickHandler: function (e) {
			e.preventDefault();
			window.location = "/especies/ver/" + this.toDashes(this.model.scientific);
		}
	});
</script>