<link rel="import" href="../../../bower_components/polymer/polymer.html"/>

<dom-module id="especie-en-grid">
    <link rel="stylesheet" href="../../css/especie-en-grid.css">
    <template>
        <figure>
            <img src="{{model.img}}" alt="{{alt}}" title="{{alt}}">
        </figure>
        <hgroup>
            <h3>{{model.scientific}}</h3>
            <h4>{{model.name}}</h4>
        </hgroup>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'especie-en-grid',
        properties: {
            model: {
                type: Object,
                value: {}
            },
            alt: {
                type: String,
                computed: 'getAlt(model)'
            }
        },
        getAlt: function (model) {
            if(model.name){
                return model.scientific + ' (' + model.name + ')';
            }else{
                return model.name;
            }
        }
    });
</script>