<!-- Componente de formulario de añadido de una especie a la base de datos -->
<link rel="import" href="../../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../all/my-mesagebox.html"/>
<link rel="import" href="../all/my-loading.html"/>

<dom-module id="especie-form">
	<link rel="stylesheet" href="../../css/especie-form.css">
	<template>
		<form class="Add-form" id="form" on-submit="handleSubmit" method="post" action="/especies/add" enctype="multipart/form-data">
			<input required class="Add-form-text text-field" type="text" value="{{scientific::input}}" placeholder="Nombre científico" autofocus>
			<input class="Add-form-text text-field" type="text" value="{{name::input}}" placeholder="Nombre">
			<textarea required class="Add-form-text Add-form-big text-field" placeholder="Descripción" cols="30" rows="10" value="{{description::input}}"></textarea>
			<input required class="Add-form-text text-field" type="text" value="{{tags::input}}" placeholder="Características">
			<div class="File">
			    <span id="asd" class="File-span">[[fileText]]</span>
			    <input required type="file" class="File-input" accept="image/{jpeg, jpg, png, gif}" id="file"/>
			</div>
			<input class="Add-form-btn btn" type="submit" value="{{value}}">
		</form>
		<my-loading hidden="{{!loading}}"></my-loading>
		<my-mesagebox text="[[msg]]" hidden="{{!msg}}"></my-mesagebox>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'especie-form',
		properties: {
			value: {
				type: String,
				value: "SEND"
			},
			name: String,
			scientific: String,
			description: String,
			tags: String,
			msg: {
				type: String,
				notify: true,
				value: ''
			},
			loading: {
				type: Boolean,
				value: false
			},
			fileText: {
				type: String,
				value: "Foto"
			}
		},
		ready: function () {
			this.$.file.onchange = function (e) {
				this.fileText = this.$.file.files[0] ? this.$.file.files[0].name : "Foto";
			}.bind(this);
		},
		handleSubmit: function (e) {
			e.preventDefault();
			this.send(e);
		},
		send: function (e) {
			e.preventDefault();
			this.msg = "";
			var fd = new FormData();
			var body = {
				name: this.name,
				scientific: this.scientific,
				description: this.description,
				img: this.$.file.files[0],
				tags: this.tags
			}

			this.resetProps();

			for(var name in body){
				fd.append(name, body[name]);
			}
			this.loading = true;
			superagent
				.post('/especies/add')
				.send(fd)
				.end(this.handleResponse.bind(this));
		},
		handleResponse: function (err, res) {
			this.loading = false;
			if(err || res.status !== 200){
				this.msg = "Hemos tenido un problemilla :(";
				return;
			}
			if(res.body.msg){
				this.msg = res.body.msg;
			}
		},
		resetProps: function () {
			this.$.form.reset();
			this.fileText = "Foto";
		}
	});
</script>