<!-- Componente que combina my-searchbox con un lista de especies y un my-mesagebox
para tener un buscador completo de especies -->
<link rel="import" href="../../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../all/my-searchbox.html"/>
<link rel="import" href="lista-especies.html"/>
<link rel="import" href="../all/my-mesagebox.html"/>

<dom-module id="especies-search">
	<link rel="stylesheet" href="../../css/especies-search.css">
	<template>
		<my-searchbox autofocus id="searchbox" models="{{data}}" left="{{left}}" text="{{msg}}" placeholder="Busca aqui :)" btnValue="SEND"></my-searchbox>
		<lista-especies models="[[data]]"></lista-especies>
		<div hidden="{{!left}}" class="carga">
			<input type="button" class="btn" value="CARGAR MÁS" on-click="cargarMas">
		</div>
		<my-mesagebox id="msgbox" hidden="{{!msg}}" text="[[msg]]"></my-mesagebox>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'especies-search',
		properties: {
			data: {
				type: Array,
				value: []
			},
			msg: {
				type: String,
				value: ""
			},
			left: {
				type: Boolean,
				value: false
			}
		},
		cargarMas: function (e) {
			e.preventDefault()
			this.$.searchbox.loadMore(this.addResponse.bind(this));
		},
		addResponse: function (err, res, data) {
			console.log(this.data)
			console.log(data)
			if(data.success){
				if(data.info){
					this.msg = "";
					data.data.forEach(function (model) {
						this.push('data', model);
					}.bind(this));
					if(data.left){
						this.msg = data.left === 1 ? 
							"1 resultado más" : 
							data.left + " resultados más";
						this.left = true;
					}
				}else{
					this.msg = "Lo que busca no esta aqui";
				}
			}else{
				this.msg = "Hemos tenido un problemilla :(";
			}
		}
	});
</script>