<link rel="import" href="../../../bower_components/polymer/polymer.html"/>
<link rel="import" href="./especie-en-grid.html"/>

<dom-module id="grid-especies">
    <link rel="stylesheet" href="../../css/grid-especies.css">
    <template>
        <template is="dom-repeat" items="{{models}}" as="model">
            <especie-en-grid model="{{model}}" on-click="navigate"></especie-en-grid>
        </template>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'grid-especies',
        properties: {
            models: {
                type: Array,
                value: []
            }
        },
        toDashes: function (name) {
            name = name.split(' ');
            name = name.join('-');
            return name;
        },
        navigate: function (e) {
            scientific = e.model.model.scientific;
            window.location = '/especies/ver/' + this.toDashes(scientific);
        }
    });
</script>