<link rel="import" href="../../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html"/>
<link rel="import" href="especie-en-grid.html"/>
<link rel="import" href="moderador-de-especie.html"/>

<dom-module id="lista-de-moderacion">
    <link rel="stylesheet" href="../../css/lista-de-moderacion.css">
    <template>
        <iron-ajax
            auto
            url="/especies/sin-moderar"
            handle-as="json"
            last-response="{{data}}"></iron-ajax>
        <h2>Moderar Especies</h2>
        <section class="container">
            <template is="dom-repeat" items="{{data.data}}" as="especie">
                <div class="especie-a-moderar">
                    <especie-en-grid model="{{especie}}" on-click="navigate"></especie-en-grid>
                    <moderador-de-especie especie="{{especie._id}}"></moderador-de-especie>
                </div>
            </template>
        </section>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'lista-de-moderacion',
        properties: {
            data: {
                type: Object,
                value: {}
            }
        },
        toDashes: function (name) {
            name = name.split(' ');
            name = name.join('-');
            return name;
        },
        navigate: function (e) {
            var scientific = e.model.especie.scientific;
            window.location = '/especies/ver/' + this.toDashes(scientific);
        }
    });
</script>