<!-- Componente que sirve para agrupar especies en forma de lista -->
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="./especie-en-lista.html">

<dom-module id="lista-especies">
	<link rel="stylesheet" href="../../css/lista-especies.css">
	<template>
		<section class="especies">
			<template is="dom-repeat" items="{{models}}" as="model">
				<especie-en-lista model="{{model}}"></especie-en-lista>
			</template>
		</section>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'lista-especies',
		properties: {
			models: {
				type: Array,
				value: []
			}
		}
	});
</script>