<link rel="import" href="../../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html"/>
<link rel="import" href="../../../bower_components/neon-animation/animations/slide-up-animation.html"/>
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html"/>

<dom-module id="moderador-de-especie">
    <link rel="stylesheet" href="../../css/moderador-de-especie.css">
    <template>
        <div class="icons">
            <my-fab icon="tic" on-click="ticClick"></my-fab>
            <my-fab icon="cross" on-click="crossClick"></my-fab>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'moderador-de-especie',
        behaviors: [Polymer.NeonAnimationRunnerBehavior],
        properties: {
            especie: Object,
            animationConfig: {
                value: function () {
                    return {
                        exit: [{
                            name: 'slide-up-animation',
                            node: this,
                            timing: {duration:1000}
                        },{
                            name: 'fade-out-animation',
                            node: this,
                            timing: {duration:500}
                        }]
                    };
                }
            }
        },
        listeners: {
            'neon-animation-finish': '_onAnimationFinished'
        },
        ticClick: function (e) {
            var target = e.currentTarget;
            target.playAnimation('bouncing');
            superagent
                .post('/especies/moderar')
                .send({id:String(this.especie)})
                .type('application/x-www-form-urlencoded')
                .end(function (err, res) {
                    target.cancelAnimation();
                    this.handleResponse(err, res);
                }.bind(this));
        },
        crossClick: function (e) {
            console.log('cross clicado');
        },
        handleResponse: function (err, res) {
            if(res.body.success){
                this.playAnimation('exit');
            }
        },
        _onAnimationFinished: function () {
            this.style.display = 'none';
        }
    });
</script>