<!-- Componente para mostrar una especie en grande que incluye todos los campos de la misma.
Necesita que se le pase el modelo de la especie como atributo -->
<link rel="import" href="../../../bower_components/polymer/polymer.html"/>

<dom-module id="my-especie">
	<link rel="stylesheet" href="../../css/my-especie.css">
	<template>
		<section>
			<article class="Especie">
				<h2 class="Especie-name-scientific">{{model.scientific}}</h2>
				<figure class="Especie-figure">
					<img class="Especie-figure-img" src="{{model.img}}" alt="{{imgName}}" title="{{imgName}}">	
				</figure>
				<h3 class="Especie-name">{{model.name}}</h3>
				<div id="description" class="Especie-description"></div>
				<div class="Especie-tags">
					<template is="dom-repeat" items="{{model.tags}}" as="tag">
						<p class="Especie-tags-tag">#<b>{{tag}}</b></p>
					</template>
				</div>
			</article>
		</section>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'my-especie',
		properties: {
			model: Object,
			imgName: {
				type: String,
				computed: 'getImgTitle(model)'
			}
		},
		ready: function () {
			this.$.description.innerHTML = this.model.description;
		},
		getImgTitle: function (model) {
			if(model.name){
				return model.scientific + ' (' + model.name + ')';
			}else{
				return model.scientific;
			}
		}
	});
</script>