<link rel="import" href="../../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html"/>
<link rel="import" href="./grid-especies.html"/>

<dom-module id="ultimas-especies">
    <link rel="stylesheet" href="../../css/ultimas-especies.css">
    <template>
        <template is="dom-if" if="{{condition}}">
            <h2>Últimas incorporaciones</h2>
        </template>
        <iron-ajax
          auto
          url="/especies/ultimas"
          handle-as="json"
          last-response="{{data}}"></iron-ajax>
        <grid-especies models="[[data.especies]]"></grid-especies>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'ultimas-especies',
        properties: {
            data: {
                type: Object,
                value: {}
            },
            condition: {
                type: Boolean,
                value: false,
                computed: 'getCondition(data)'
            }
        },
        ready: function () {
            this.data.especies = [];
        },
        getCondition: function (data) {
            if(data.especies && data.especies.length !== 0){
                return true;
            }else{
                return false;
            }
        }
    });
</script>