<link rel="import" href="../../../bower_components/polymer/polymer.html"/>
<link rel="import" href="usuario-en-lista.html"/>

<dom-module id="lista-usuarios">
    <link rel="stylesheet" href="../../css/lista-usuarios.css">
    <template>
        <header>
            <h3 class="name">nombre</h3>
            <h3 class="admin">administrador</h3>
            <h3 class="moderator">moderador</h3>
        </header>
        <template is="dom-repeat" items="{{users}}" as="user">
            <usuario-en-lista model="{{user}}"></usuario-en-lista>
        </template>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'lista-usuarios',
        properties: {
            users: {
                type: Array,
                value: []
            }
        }
    });
</script>