<link rel="import" href="../../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../all/my-mesagebox.html"/>
<link rel="import" href="../../../bower_components/neon-animation/animations/slide-down-animation.html"/>
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html"/>
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html"/>

<dom-module id="login-form">
    <link rel="stylesheet" href="../../css/login-form.css">
    <template>
        <h2>Log in</h2>
        <form method="POST" action="/usuarios/login"
        on-submit="handleSubmit">
            <input class="text-field" type="text" id="name" placeholder="Nombre de ususario" autofocus required/>
            <input class="text-field" type="password" id="password" placeholder="Contraseña" required/>
            <input class="btn" type="submit" value="Enviar"/>
        </form>
        <my-mesagebox hidden="{{!msg}}" text="[[msg]]"></my-mesagebox>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'login-form',
        behaviors: [Polymer.NeonAnimationRunnerBehavior],
        properties: {
            msg: {
                type: String,
                value: ""
            },
            animationConfig: {
                value: function () {
                    return {
                        'entry': [{
                            name: 'slide-down-animation',
                            node: this,
                            timing: {duration:1000}
                        },
                        {
                            name: 'fade-in-animation',
                            node: this,
                            timing: {duration: 500, delay:500}
                        }]
                    }
                }
            }
        },
        ready: function () {
            this.style.display = 'block';
            this.playAnimation('entry');
        },
        handleSubmit: function (e) {
            e.preventDefault();
            this.msg = "";
            if(!this.$.name.value){
                this.msg = "Debe introducir un nombre de usuario";
            }else{
                if(!this.$.password.value){
                    this.msg = "Debe introducir una contraseña";
                }else{
                    //Enviar la peticion de login
                    var body = {
                        name: this.$.name.value,
                        password: this.$.password.value
                    };
                    superagent
                        .post('/usuarios/login')
                        .send(body)
                        .type('application/x-www-form-urlencoded')
                        .end(this.handleResponse.bind(this));
                }
            }
        },
        handleResponse: function (err, res) {
            if(err || res.status !== 200){
                this.msg = 'Hemos tenido un problemilla :('
            }else{
                if(res.body.success && res.body.info){
                    window.location = '/';
                }else{
                    this.msg = res.body.msg;
                }
            }
        }
    });
</script>