<link rel="import" href="../../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../all/my-mesagebox.html"/>
<link rel="import" href="../../../bower_components/neon-animation/animations/slide-down-animation.html"/>
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-in-animation.html"/>
<link rel="import" href="../../../bower_components/neon-animation/neon-animation-runner-behavior.html"/>

<dom-module id="register-form">
    <link rel="stylesheet" href="../../css/register-form.css">
    <template>
        <h2>Regístrate</h2>
        <form method="POST" action="/usuarios/nuevo" enctype="application/x-www-form-urlencoded" on-submit="handleSubmit">
            <input class="text-field" type="text" id="name" placeholder="Nombre de ususario" autofocus/>
            <input class="text-field" type="password" id="password" placeholder="Contraseña"/>
            <input class="text-field" type="password" id="second" placeholder="Repetir contraseña"/>
            <input class="btn" type="submit" value="Enviar"/>
        </form>
        <my-mesagebox hidden="{{!msg}}" text="[[msg]]"></my-mesagebox>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'register-form',
        behaviors: [Polymer.NeonAnimationRunnerBehavior],
        properties: {
            msg: {
                type: String,
                value: ''
            },
            animationConfig: {
                value: function () {
                    return {
                        entry: [{
                            name: 'slide-down-animation',
                            node: this,
                            timing: {duration: 1000}
                        },
                        {
                            name: 'fade-in-animation',
                            node: this,
                            timing: {duration: 500, delay: 500}
                        }]
                    }
                }
            }
        },
        ready: function () {
            this.style.display = 'block';
            this.playAnimation('entry');
        },
        handleSubmit: function (e) {
            e.preventDefault();
            this.msg = "";
            if(!this.$.name.value){
                this.msg = "Debe introducir un nombre de usuario";
            }else{
                if(this.$.password.value.length < 8){
                    this.msg = "La contraseña debe tener como mínimo 8 caracteres";
                }else{
                    if(this.$.password.value !== this.$.second.value){
                        this.msg = "Los campos de contraseña no coinciden";
                    }else{
                        var body = {
                            name: this.$.name.value,
                            password: this.$.password.value,
                            second: this.$.second.value
                        };
                        superagent
                            .post('/usuarios/nuevo')
                            .send(body)
                            .type('application/x-www-form-urlencoded')
                            .end(this.handleResponse.bind(this));
                    }
                }
            }

        },
        handleResponse: function (err, res) {
            if(res.body.success){
                window.location = '/';
            }else{
                this.msg = res.body.msg;
            }
        }
    });
</script>