<link rel="import" href="../../../bower_components/polymer/polymer.html"/>

<dom-module id="usuario-en-lista">
    <template>
        <h3>{{model.name}}</h3>
        <div class="admin">
            <span hidden="{{!model.admin}}">Sí</span>
            <span hidden="{{model.admin}}">No</span>
        </div>
        <div class="moderator">
            <span hidden="{{!model.moderator}}">Sí</span>
            <span hidden="{{model.moderator}}">No</span>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'usuario-en-lista',
        properties: {
            model: {
                type: Object,
                value: {}
            }
        }
    });
</script>