<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="all/my-icon.html">
<link rel="import" href="all/icon-group.html">
<link rel="import" href="all/my-nav.html"/>
<link rel="import" href="all/my-header.html">
<link rel="import" href="all/my-article.html"/>
<link rel="import" href="especies/especie-en-grid.html"/>
<link rel="import" href="especies/grid-especies.html"/>
<link rel="import" href="especies/ultimas-especies.html"/>
<link rel="import" href="all/my-footer.html">