<link rel="import" href="../../bower_components/polymer/polymer.html"/>
<link rel="import" href="all/my-header.html">
<link rel="import" href="all/my-icon.html"/>
<link rel="import" href="users/register-form.html"/>