<link rel="import" href="../../bower_components/polymer/polymer.html"/>
<!-- Mis web components -->
<link rel="import" href="all/my-header.html"/>
<link rel="import" href="all/my-icon.html"/>
<link rel="import" href="all/my-fab.html"/>
<link rel="import" href="especies/lista-de-moderacion.html"/>