<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="all/my-icon.html">
<link rel="import" href="all/icon-group.html">
<link rel="import" href="all/my-header.html">
<link rel="import" href="all/my-searchbox.html">
<link rel="import" href="all/my-mesagebox.html">
<link rel="import" href="especies/especie-en-lista.html">
<link rel="import" href="especies/lista-especies.html">
<link rel="import" href="especies/especies-search.html"/>