<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="all/my-icon.html">
<link rel="import" href="all/my-header.html">
<link rel="import" href="especies/my-especie.html"/>
<link rel="import" href="especies/ultimas-especies.html"/>
<link rel="import" href="all/my-footer.html"/>