@import './all/normalize.styl'
@import 'nib'
@import './all/base.styl'
@import './all/colors.styl'

section
    width 100vw
    height 100vh
    background azul
    color white
    text-align center
    position relative
    > hgroup
        position absolute
        max-height 400px
        margin auto 2rem
        top 0
        bottom 0
        left 0
        right 0
        > h2
            margin 0
            font-size 70px
        > h1
            margin 0
            font-size 35px