@import 'nib'
@import 'all/colors.styl'
@import 'all/btn.styl'

:host
    > div.carga
        text-align center
        margin 2rem auto
        margin-top 0
    > lista-especies::shadow section
        padding-bottom 1rem