@import 'nib'
@import 'all/colors.styl'
@import 'all/oocss.styl'
@import 'all/btn.styl'
.Add-form
	height auto
	display flex
	flex-direction column
	justify-content space-around
	padding 0 1rem
	text-align center
	textarea
		resize none
	&-text
		margin 1rem auto
		display block
		width 50%
		min-width 250px
		min-height 1.95rem
	&-big
		padding-top 1rem
		height 40vh
		max-height 200px
		&:focus
			outline 0px
	.File
		position relative
		overflow hidden
		cursor pointer
		margin 0 auto
		border-radius 5px
		box-shadow 0 5px azul
		height 3rem
		padding 0
		&-span
			background azul_oscuro
			color white
			cursor pointer
			position relative
			font-size 1.3rem
			line-height 3rem
			height 3rem
			padding 1rem
		&-input
			cursor pointer
			position absolute
			top 0
			right 0
			margin 0
			padding 0
			opacity 0
			z-index 5
			font-size 3rem
			line-height 3rem
	&-btn
		border none
		width 5rem
		margin 0 auto
		margin-top 2rem
		&:focus
			outline 0px