@import 'nib'
@import 'all/colors.styl'
.Especie
	border-bottom 3px solid azul_oscuro
	cursor pointer
	padding 1rem
	padding-left 7%
	display flex
	overflow hidden
	height 100px
	&-figure
		flex 2 5
		width 100px
		margin 0
		font-size 0
		&-img
			border 3px solid azul
			border-radius 50%
			width 100px
			height 100px
			vertical-align top
	&-headers
		padding 0 1rem
		flex 3 5
		text-transform capitalize
		&-scientific
			font-size 1.2rem
		&-name
			font-size 1rem
	&-tags
		display none
		padding 0 1rem
		overflow-y hidden
		&-tag
			display inline-block
			color white
			border-radius 5px
			background azul
			padding .3rem
			margin .25rem .5rem
			height 2rem
			width auto
			line-height 2rem
	&:hover
		box-shadow 0 2px 10px rgba(gris_oscuro, .8)
		

@media screen and (min-width:600px)
	.Especie
		&-figure
			flex 1 5
		&-headers
			flex 4 5

@media screen and (min-width:800px)
	.Especie
		&-figure
			flex 2 8
		&-headers
			flex 3 8
		&-tags
			flex 3 8
			display inline