@import 'nib'
@import 'all/colors.styl'

sombra-gris = rgba(gris_oscuro, .8)

:host
    cursor pointer
    color gris_oscuro
    display inline-block
    max-width 250px
    height auto
    box-shadow 0px 0px 5px sombra-gris
    margin 2rem
    figure
        font-size 0
        width 250px
        height 170px
        margin 0
        border-bottom 3px solid azul
        img
            width inherit
            height inherit
            vertical-align top
    hgroup
        padding 0 1rem
        text-align left
        font-weight initial
        text-transform capitalize
    &:hover
        box-shadow 0px 0px 10px sombra-gris
        
@media screen and (min-width: 730px)
    :host
        max-width 300px
        figure
            width 300px
            height 200px