@import 'nib'
@import 'all/colors.styl'
:host.nav
	padding 1rem 3rem
	display flex
	justify-content space-around
	::content
		my-icon
			font-size 1.5rem
			a
				color gris_oscuro
			
@media screen and (min-width:650px)
	:host.nav
		display none