@import 'nib'
@import 'all/colors.styl'

:host
    max-width 1000px
    ::shadow h3
        font-weight normal
    display block
    margin 1rem auto
    header
        display flex
        background azul
        border 1px solid gris_oscuro
        border-radius 2px
        border-bottom-left-radius 0px
        border-bottom-right-radius 0px
        :last-child
            border-right none
        h3
            color white
            padding 1rem
            margin 0
            border-right 1px solid gris_oscuro  
        .name
            flex 1
    usuario-en-lista
        display flex
        border-width 0 1px 1px 1px
        border-style solid
        border-color gris_oscuro
        ::shadow
            *
                margin 0
                padding 0
            h3
                flex 1
                border-right 1px solid gris_oscuro
                padding 1rem
            div
                margin 0
                padding 1rem
                border-right 1px solid gris_oscuro
                text-align center
            :last-child
                border-right none
            .admin
                width 7.8em
            .moderator
                width 6.2em
                
@media screen and (max-width:1032px)
    :host
        margin 1rem