@import 'nib'
@import 'all/colors.styl'

sombra-gris = rgba(gris_oscuro, .8)

:host
    display block
    overflow hidden
    h2
        text-align center
        font-weight normal
        font-size 3rem
        margin-bottom 0
        margin-top 2rem
    .container
        display flex
        justify-content center
        padding 1rem
        flex-wrap wrap
    .especie-a-moderar
        margin 2rem
        max-width 250px
        box-shadow 0 0 5px sombra-gris
        especie-en-grid
            display block
            overflow hidden
            margin 0
            box-shadow none
            z-index 3
        moderador-de-especie
            border-top 1px solid gris_oscuro
            z-index 1
            
@media screen and (min-width:730px)
    :host
        .especie-a-moderar
            max-width 300px