@import 'nib'
@import 'all/colors.styl'

sombra-gris = rgba(gris_oscuro, .8)

:host
    display block
    margin 0
    padding 2rem 0
    font-size 1.2rem
    max-width 250px
    .icons
        display flex
        justify-content space-around
        my-fab[icon="tic"]
            background #689F38
            &:hover
                background #8BC34A
        my-fab[icon="cross"]
            background #d32f2f
            &:hover
                background #f44336

@media screen and (min-width: 730px)
    :host
        max-width 300px