@import 'nib'
@import 'all/colors.styl'

:host
    article
        padding 1rem
        max-width 1000px
        margin 0 auto
        ::content
            h2
                text-align center
                font-size 3rem
                font-weight initial
            h3
                color gris_textarea
                font-size 2rem
                font-weight initial
            div
                font-size 1.3rem
                text-align justify
                
@media screen and (max-width:650px)
    :host
        article
            ::content
                h2
                    margin 0 auto