@import 'nib'
@import 'all/colors.styl'

:host
	section
		.Especie
			&-name
			&-name-scientific
				text-transform capitalize
			&-name-scientific
				font-size 2rem
				text-align center
			&-figure
				text-align center
				&-img
					border 5px solid azul
					border-radius 50%
					height 60vw
					width 60vw
					max-width 500px
					max-height 500px
			&-name
				font-size 1.8rem
				text-align center
			&-description
				text-align justify
				font-size 1.2rem
				margin 0 auto
				max-width 1000px
				padding 1rem
			&-tags
				max-width 1000px
				padding 1rem
				margin 0 auto
				&-tag
					display inline-block
					color white
					background azul
					border-radius 5px
					padding .5rem
					margin .3rem .5rem