@import 'nib'
@import 'all/colors.styl'

:host
	footer
		border-top 5px solid azul
		background gris_oscuro
		color gris_textarea
		font-size 1.2rem
		margin-top 2rem
		padding 2rem
		text-align center