@import 'nib'
@import 'all/colors.styl'

sombra-gris = rgba(gris_oscuro, .8)

:host
    display block
    cursor pointer
    color white
    font-size 1rem
    padding .5em
    width 1em
    height 1em
    border-radius 50px
    box-shadow 0 3px 3px sombra-gris
    &:hover
        box-shadow 0 1px 1px sombra-gris