@import 'nib'
@import 'all/colors.styl'
:host
	.header
		background azul_oscuro
		color white
		font-size 1em
		text-align center
		display flex
		justify-content space-between
		
		::content
			my-icon
				display none
				margin auto 1.5rem
				font-size 1.5rem
		
		> h1
			flex 1
			margin 0
			padding 1em
			text-shadow 1px 1px 3px gris_oscuro

@media screen and (min-width:650px)
	:host
		.header
			::content
				my-icon
					display block