@import 'nib'
@import 'all/colors.styl'

:host
	display block
	text-align: center
	font-size 2rem
	margin .5rem auto
	padding 0
	border none
	.icon
		border none
		margin 0
		padding 1em
		width 2rem
		height 2rem
		animation 1s circle infinite linear
		color azul

@keyframes circle
	0%
		transform rotate(0deg)
	100%
		transform rotate(360deg)