@import 'nib'
@import 'all/colors.styl'
:host
    p
        font-size 1.3rem
        width 70vw
        max-width 600px
        min-height 3em
        line-height 3em
        text-align center
        margin 1rem auto
        border 5px dashed azul
        border-radius 5px