@import 'nib'
@import 'all/colors.styl'
@import 'all/oocss.styl'
@import 'all/btn.styl'
.search
	text-align center
	input[type="text"]
		margin-top 1rem
		margin-right 1rem
		height 1.95rem
		padding-left 1.5rem
		vertical-align top
		width 50%
	input[type="button"]
		margin-top 1rem
		vertical-align top