@import 'nib'
@import 'all/colors.styl'
@import 'all/btn.styl'
@import 'all/oocss.styl'

:host
    display hidden
    h2
        font-size 2rem
        font-weight normal
        text-align center
        margin 7vh auto
    form
        width 90vw
        max-width 1000px
        margin 0 auto
        input[type="text"]
        input[type="password"]
        input[type="submit"]
            display block
            margin 2rem auto
        input[type="text"]
        input[type="password"]
            max-width 30rem
            width auto