@import 'nib'

:host
    h2
        display block
        text-align center
        font-weight initial
        font-size 1.8rem
        margin 0 1rem

@media screen and (min-width:650px)
    :host
        h2
            font-size 2.5rem
            margin 2rem 1rem .5rem 1rem